<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="home.css" />
    <script defer rel="stylesheet" href="home.js"></script>
    <title>home</title>
  </head>
  <body>
    <nav class="navbar">
      <a title="우유" href="/home">
        <h1>우유</h1>
      </a>
    </nav>
    <section class="container">
      <div></div>
      <div class="mainTop">
        <h3 class="box">전체 글 (19개)</h3>
        <div></div>
      </div>

      <div></div>
    </section>
  </body>
</html>
